
<div class="container">
  <div class="card">
    <h1>Stupid Coaching</h1>
  </div>
  <br><br>
  <div class="card">
    <%= @question %>
    <br><br>-You
  </div>
  <br><br>
  <div class="card">
    <%= @answer %>
    <br><br>-Your coach
  </div>
</div>
