// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  font-family: 'Noto Sans', sans-serif;
}


.container {
  width: 400px;
  margin: auto;
}

.card {
  height: 100px;
  background-color: #f4ffcc;
}

.link {
  color: #004696;
}
